<div class="yellow-container-registro">
  <div class="purple-container-registro">
      <ion-row  class="paddingVerticalFila"> 
          <ion-col size="2">
              <ion-button
              shape="round"
              size="small"
              fill="clear"
              color="light"
              (click)="paginaAnterior()">
              <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col class="columnaCentrada" size="8">   
            <span class="whiteLabeelHeaderRegistro"> {{titulo}}</span>
      </ion-col>
    </ion-row>
     
      </div>
  </div>