<app-header-rosadito class="ion-hide-md-up" [titulo]="'Recuperar contraña '"></app-header-rosadito>
<ion-content>


    <div class="contentRegistro">

        <ion-row class="paddingFila">
            <ion-title class="tituloWeb">
                Bienvenido a Swiftcargo
            </ion-title>
        </ion-row>
        <ion-row class="paddingFila">
            <ion-label class="labelInputDatosCliente" position="stacked">Ingresa el campo a continuación</ion-label>
        </ion-row>
        <br>


        <ion-item>
            <ion-input type="email" placeholder="Identificacion"></ion-input>
        </ion-item>



        <ion-button type="button" expand="block">Resetear</ion-button>


    </div>

</ion-content>