.login-container {
    height: 100%;
    background-color: #f2f2f2;
}

.login-card {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-card ion-img {
    margin: 20px auto;
    max-width: 200px;
}

.error-messages {
    margin-top: 5px;
    margin-bottom: 15px;
}

ion-button {
    margin-top: 15px;
}