.tracking-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3.25vw;
    margin-top: 15px;
    margin-bottom: 5px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    color: grey;
    /* Default icon color */
    font-size: 24px;
    /* Icon size */
}

.icon.completed {
    color: green;
    /* Icon color when step is completed */
}

.status {
    color: grey;
    /* Default text color */
    margin-top: 8px;
    /* Space between icon and text */
}

.status.completed {
    color: green;
    /* Text color when step is completed */
}

.status.cancel {
    color: red;
    /* Text color when step is completed */
}

.progress-line {
    height: 2px;
    background-color: grey;
    /* Default line color */
    flex-grow: 1;
}

.progress-line.completed {
    background-color: green;
    /* Line color when step is completed */
}

.progress-line.cancel {
    background-color: red;
    /* Line color when step is completed */
}

ion-card {
    margin-top: 15px;
    margin-bottom: 5px;
}